<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="register-form">
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" id="email" formControlName="email" placeholder="Email">
    <div *ngIf="registerForm.get('email')?.hasError('email') && registerForm.get('email')?.touched" class="error-message">
      El correo electrónico no tiene el formato correcto.
    </div>
  </div>

  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" id="name" formControlName="name" placeholder="Name">
  </div>

  <div class="form-group">
    <label for="birthdate">Birthdate</label>
    <input type="date" id="birthdate" formControlName="birthdate">
  </div>

  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" id="password" formControlName="password" placeholder="Password">
  </div>

  <div class="form-group">
    <label>Gender</label>
    <div class="radio-group">
      <input type="radio" id="female" formControlName="gender" value="female">
      <label for="female">Female</label>
      <input type="radio" id="male" formControlName="gender" value="male">
      <label for="male">Male</label>
    </div>
  </div>

  <button type="submit" class="submit-button">Register</button> <p></p>
  <button type="submit" class="submit-button" (click)="redirectToLogin()">Login</button>
</form>
